body {
  font-family: 'Avenir';
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

.app {
  margin: 0 100px;
}

h1,h2,h3,h4,h5,h6,ul {
  margin: 0;
  padding: 0;
}

button {
  background: #50596c;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 1em 2em;
}